/ {
    aliases {
        qdec0 = &qdec;
    };

    chosen {
        zephyr,console = &usart3;
        zephyr,shell-uart = &usart3;
    };
};

&timers3 {
    status = "okay";

    qdec: qdec {
        status = "okay";
        compatible = "st,stm32-qdec";
        pinctrl-0 = <&tim3_ch1_pa6 &tim3_ch2_pa7>;
        pinctrl-names = "default";
        st,input-polarity-inverted;
        st,input-filter-level = <1>;
        st,counts-per-revolution = <600>;
    };
};
